#navId {
    background-color: rgb(199, 37, 37);
    color: white;
    padding-left: 30vw;
}

.nav-item {
    font-size: 1.4vw;
    font-weight: bold;
}

.nav-item a {
    color: white;
}

.nav-item a:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}

.row-sources {
    padding-top: 3vw;
}

.head-tag {
    font-size: 1.4vw;
}

.uls {
    box-shadow: 1px 1px 5px grey;
    padding: 2vw;
    margin-top: 1.1vw;
}

.uls li {
    list-style: none;
    font-size: 1.2v;
}

.source-name {
    font-size: 1.5vw;
    font-weight: bold;
}

.source-name a {
    color: rgb(199, 37, 37) !important;
}

.articles {
    margin-left: 2vw;
}


/* .article {
    box-shadow: 1px 1px 5px grey;
} */

.container-article {
    display: flex;
    height: 15vw;
    width: 100%;
    padding-top: 3vw;
}

.container-article img {
    width: 25vw;
}

.container-article li {
    list-style: none;
}