{% extends 'base.html'%} {%block content%}

<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8 col-articles">
    {%for articles in source_articles%}
    <div class="container-article">
      <img style="height: 100px; width: 100px" src=" {{articles.urlToImage}}" />
      <ul class="articles">
        <li class="article-name">
          <a class="article-url" href="{{articles.url}}">{{articles.title}} </a>
        </li>
        <li>Author:{{articles.author}}</li>
        <li>{{articles.description}}</li>
        <li>Published at{{articles.publishedAt}}</li>
        <a
          name=""
          id="readMore"
          class="btn btn-primary"
          href="{{articles.url}}"
          role="button"
          >READ ARTICLE</a
        >
      </ul>
    </div>

    {%endfor%}
  </div>

  <div class="col-lg-2"></div>
</div>

{%endblock%}
