<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>KFORT NEWS</title>
    {% endif %} {% extends 'bootstrap/base.html'%}

    <link
      href="{{ url_for('static', filename='style/bootstrap.css') }}"
      rel="stylesheet"
      type="text/css"
    />

    {% block style%} {{ super() }} {% endblock %}
  </head>
  <body>
    <!-- Navbar block  -->
    {% block navbar %} {% include 'navbar.html' %} {% endblock %}
    <!-- Content block -->

    {% block content %} {% endblock%}
  </body>
</html>
