{% extends 'base.html'%} {%block content%}
<!-- Styles block -->

{% block styles%} {{ super() }}
<link
  rel="stylesheet"
  href="{{url_for('static',filename='style/style.css')}}"
/>
{% endblock %}

<div class ="row">
   <div class="col-lg-2"></div>
  <div class="col-lg-8 sources"
  {%for sources in news_sources%}
  <ul class= "uls">
    <li>URL--{{sources.url}}<a href="https://www.w3schools.com"> </a></li>
    <li>NAME--{{sources.name}}</li>
    <li>DESCRIPTION--{{sources.description}}</li>
    <li>ID--{{sources.id}}</li>
    <li>COUNTRY--{{sources.country}}</li>
  </ul>
  {%endfor%}
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4">Column</div>
    <div class="col-lg-4">Column</div>
    <div style="height: 100vh; backgground-color: red" class="col-lg-4">
      Column
    </div>
  </div>
  </div>
   <div class="col-lg-2"></div>

</div>
{%endblock%}
