{% extends 'base.html'%} {%block content%}
<!-- Styles block -->

{% block styles%} {{ super() }}
<link
  rel="stylesheet"
  href="{{url_for('static',filename='style/style.css')}}"
/>
{% endblock %}

<div class="row row-sources">
  <div class="col-lg-2"></div>
  <div class="col-lg-8 sources">
    <h1 class="head-tag">Sources available:</h1>
    {%for sources in news_sources%}
    <ul class="uls shadow">
      <li class="source-name">
        <a href="/article/{{sources.id}}">{{sources.name}} </a>
      </li>
      <li>{{sources.description}}</li>
      <li>
        <a href="/article/{{sources.id}}">heerreee</a>
      </li>
    </ul>
    {%endfor%}
  </div>
</div>
{%endblock%}
