{% extends 'base.html'%}
{%block content%}
  
    <div>
         {%for sources in news_sources%}
        <ul>
     
      <li>URL--{{sources.url}}</li></li>
      <li>NAME--{{sources.name}}</li>
      <li>DESCRIPTION--{{sources.description}}</li>
      <li>ID--{{sources.id}}</li>
      <li>COUNTRY--{{sources.country}}</li>
     
    </ul>
     {%endfor%}
    </div>
    <div class="container">
  <div class="row">
    <div class="col-lg-4">
      Column
    </div>
    <div class="col-lg-4">
      Column
    </div>
    <div style= "height:100vh; backgground-color: red"class="col-lg-4 ">
      Column
    </div>
  </div>
</div>
{%endblock%}
